.container {  display: grid;
  grid-template-columns: 1fr 1.2fr 0.8fr;
  grid-template-rows: 1fr 1.1fr 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "alunos professores materias"
    "alunos horario horario"
    "alunos horario horario";
}

.alunos { grid-area: alunos; }

.professores { grid-area: professores; }

.materias { grid-area: materias; }

.horario { grid-area: horario; }
